body {
  font-family: 'Lexend Zetta', sans-serif;
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.container {
  width: 25%;
  max-width: 400px;
  background-color: #162345;
  margin: 0 auto;
  height: 500px;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,1);
-moz-box-shadow: 1px 1px 6px 1px rgba(0,0,0,1);
box-shadow: 1px 1px 6px 1px rgba(0,0,0,1);
}



.screen {
  width: 90%;
  height: 50px;
  border-radius: 20px;
  background-color: #f3f3f3;
  position: absolute;
  top: 1em;
  left: 0.5em;
  padding-right: 3px;
  text-align: right;
  font-size: 2.1rem;
 overflow: hidden;

 
}

.buttons {
  width: 90%;
  position: absolute;
  left: 1.1em;
  bottom: 2em;
  }

.row {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.row + .row {
  margin-top: 1em;
}

.btn {
  font-size: 1.5rem;
  width: 1.5em;
  height: 1.5em;
  border-radius: 20%;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;

  
}

#hidden-btn {
  cursor: auto;
}

.num {
  background-color: #F54784;
}

.operator {
  background-color: #1FDBB5;
}



.control {
  background-color: #594AF6;
}

.is-depressed {
	background-color: white;
}

/* microphone styling */
.microphone{
  position: relative;
}
.microphone img{
  height: 30px;
  width: 30px;
  margin-left: 5px;
  border-radius: 50%;
}

.microphone .tooltip{
  /* visibility: hidden; */
  position: absolute;
  width: 200px;
  background: rgb(63,94,251);
  display: inline-block;
  color: #fff;
  margin-left: 5px;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  visibility: hidden;
  
}

.microphone .tooltip::before{
  content: '';
  position: absolute;
  border-width: 9px;
  border-style: solid;
  border-color: transparent rgb(63,94,251) transparent transparent;
  left: 0;
  top: 5px;
  margin-left: -18px;
}

.microphone:hover .tooltip{
  visibility: visible;
}

.record{
  animation: microphone-animation 1.5s infinite;
}
@keyframes microphone-animation{
  0% {
      transform: scale(0.9);
  }
  70%{
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 148, 255, 0.4);
  }
  100%{
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(0, 148, 255, 0);
  }
}

@media (max-width: 1200px) {
  .container {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 35%;
  }
}

@media (max-width: 840px) {
  .container {
    width: 40%;
  }
}

@media (max-width: 740px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 320px) {
  .container {
    width: 98%;
  }
}